# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment files
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# PostgreSQL
*.pid
*.lock